# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore system files and directories
AppData/
.vscode/
*.log
*.tmp

# Windows specific system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignore IDE and editor specific files
.idea/
*.iml

# Ignore all files and directories that should not be tracked
.VirtualBox/
.android/
.appletviewer
.arduinoIDE/
.cache/
.chatgpt/
.eclipse/
.gitconfig
.gradle/
.ipynb_checkpoints/
.ipython/
.jupyter/
.lesshst
.p2/
.tooling/
IntelGraphicsProfiles/
New folder/
OneDrive/
Saved Games/
Searches/
VirtualBox VMs/
battery-report.html
dfd.tex
file.txt
g.docx
g2.mp4
